@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: var(--color-light-salmon-50);
  padding: 24px 16px 0 16px;
  background-image: 
    linear-gradient(
      to bottom, 
      transparent 60%,
      var(--color-light-salmon-50) 100%
    ),
    url(../assets/images/pattern-light-bg.svg);

  background-repeat: repeat;
  background-position: top center;
}

.hero__content {
  margin-bottom: 64px;
}

.hero__logo {
  height: 36px;
  width: auto;
  margin-bottom: 48px;
}

.hero__title {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-bold);
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -2px;
  color: var(--color-neutral-900);
  margin-bottom: 24px;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
  margin-bottom: 32px;
}

.button {
  display: flex;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  text-transform: uppercase;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__icon {
  margin-left: 8px;
}
    
.button--primary {
  border-color: var(--color-neutral-900);
  color: var(--color-neutral-900);
  background-color: var(--color-light-salmon-50);
}

.hero__social-proof, .footer__social-proof {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.hero__avatars, .footer__avatars {
  height: 40px;
  width: auto;
}

.rating {
  display: flex;
  flex-direction: column;
}

.rating__list {
  display: flex;
  list-style: none;
  gap: 6px;
}

.rating__icon {
  height: 28px;
  width: 28px; 
}

.rating__text {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  color: var(--color-neutral-700);
  margin-top: 4px;
}

.hero__image-wrapper {
  width: 100%;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
}

.hero__image--desktop, .hero__image--tablet {
  display: none;
}

.hero__image--mobile {
  display: block;
  border-radius: 5px;
  margin-bottom: 80px;
}

.features {
  margin-top: 64px;
  padding: 0 20px;
}

.features__title {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  color: var(--color-neutral-900);
  margin-bottom: 24px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
  list-style: none;
}

.features__item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.features__icon {
  height: 24px;
  width: 24px;
}

.features__text {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
}

.features__image-wrapper {
  width: 100%;
}

.features__image {
  width: 100%;
  height: auto;
  display: block;
}

.features__image--desktop, .features__image--tablet {
  display: none;
}

.features__image--mobile {
  display: block;
  border-radius: 5px;
  margin-bottom: 64px;
}

.community {
  padding: 0 20px;
}

.community__title {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  color: var(--color-neutral-900);
  margin-bottom: 24px;
}

.community__title-highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.community__title-highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  background-image: url(../assets/images/pattern-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.community__text {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
  margin-bottom: 40px;
}



.community__image-wrapper {
  width: 100%;
  position: relative;
}

.community__image {
  width: 100%;
  height: auto;
  display: block;
}

.community__image--desktop, .community__image--tablet {
  display: none;
}

.community__image--mobile {
  display: block;
  border-radius: 5px;
  margin-bottom: 64px;
}

.journey {
  padding: 0 20px;
}

.journey__content {
  background-color: var(--color-light-salmon-50);
  background-image: url(../assets/images/pattern-light-bg.svg);
  border-radius: 12px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.journey__content::after {
  content: "";
  position: absolute;
  right: -200px;
  bottom: -200px;
  width: 500px; 
  height: 500px;
  background-image: url(../assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: -1;
}

.journey__title {
  padding-top: 64px;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  color: var(--color-neutral-900);
  margin-bottom: 32px;
}

.journey__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  padding-bottom: 64px;
  position: relative;
  isolation: isolate;
}

.journey__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.journey__number {
  border: 2px solid var(--color-neutral-900);
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  color: var(--color-neutral-900);
}

.journey__arrow {
  display: none;
}

.journey__heading {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -1px;
  color: var(--color-neutral-900);
}

.membership {
  padding: 0 20px;
  margin-top: 64px;
  margin-bottom: 44px;
}

.membership__title {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  color: var(--color-neutral-900);
  margin-bottom: 24px;
}

.membership__option {
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
}

.membership__option--highlighted {
  background-color: var(--color-neutral-100);
  background-image: url(../assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.membership__heading {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  color: var(--color-neutral-900);
  margin-bottom: 24px;
}

.membership__price {
  display: flex;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-boldbold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -1px;
  color: var(--color-neutral-900);
  align-items: center;
  margin-bottom: 24px;
}

.membership__price-period {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
  margin-left: 8px;
}

.membership__details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  padding-top: 24px;
  border-top: 1px solid var(--color-neutral-200);
}

.membership__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
}

.testimonial {
  padding: 0 20px;
  margin-bottom: 64px;
}

.testimonial__quote {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  color: var(--color-neutral-900);
  margin: 32px 0;
}

.testimonial__author {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-700);
}

.footer {
  background-color: var(--color-neutral-900);
  padding: 48px 20px 24px 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.footer__heading {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-semi-bold);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -2px;
  color: var(--color-neutral-100);
  margin-bottom: 40px;
  text-align: center;
}

.footer__social-proof {
  padding-bottom: 64px;
  border-bottom: 1px solid var(--color-neutral-700);
}

.button--secondary {
  border-color: var(--color-neutral-100);
  color: var(--color-neutral-100);
}

.rating__text--footer {
  color: var(--color-neutral-100);
}

.footer__bottom {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
}

.footer__copyright {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  color: var(--color-neutral-100);
  text-align: center;
  margin-bottom: 16px;
}

.footer__socials {
  display: flex;
  gap: 24px;
}

@media (min-width: 768px) {

  .hero__image--tablet, .features__image--tablet, .community__image--tablet {
    display: block;
    border-radius: 5px;
    margin-bottom: 64px;
  }

  .features__image--tablet, .community__image--tablet {
    border-radius: 24px;
    position: relative;
  }

  .community__image-wrapper::after {
    background-image: url(../assets/images/logos-tech.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 120px;
    height: 120px;
  }

  .hero__image--mobile, .features__image--mobile, .community__image--mobile {
    display: none;
  }

  .hero {
    padding: 32px 32px 0 32px;
    background-image: 
      url(../assets/images/pattern-glow.svg),
      url(../assets/images/pattern-light-bg.svg);
    background-position: 
      left 200px bottom -500px,
      top center;
    background-repeat: 
      no-repeat,
      repeat;
    background-size: 
      auto,
      auto;
  }

  .hero__title {
    font-size: 62px;
    width: 90%;
  }

  .button--primary {
    max-width: 380px;
  }

  .features {
    padding: 0 32px;
  }

  .features__title {
    font-size: 50px;
    width: 70%;
  }

  .features__list {
    gap: 24px;
  }

  .community {
    padding: 0 32px;
  }

  .community__title {
    font-size: 50px;
    width: 80%;
  }

  .journey {
    padding: 0 32px;
  }

  .journey__content {
    padding: 0 32px;
  }

  .journey__content::after {
    right: -260px;
    bottom: -260px;
    width: 800px; 
    height: 800px;
  }

  .journey__title {
    font-size: 50px;
    width: 90%;
  }

  .journey__number {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .journey__heading {
    font-size: 18px;
  }

  .membership {
    padding: 0 32px;
  }

  .membership__title {
    font-size: 50px;
  }

  .membership__options {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
  }

  .membership__option {
    flex-basis: calc(50% - 12px);
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  .testimonial {
    padding: 0 32px;
  }

  .testimonial__quote {
    font-size: 34px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px 32px 32px;
  }

  .footer__heading {
    font-size: 50px;
  }

  .button--secondary {
    max-width: 380px;
  }

  .footer__social-proof {
    border-bottom: 0;
  }

  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--color-neutral-700);
    width: 100%;
    padding: 24px 0 0 0;
  }

}

@media (min-width: 1440px) {

  .hero__image--tablet, .features__image--tablet, .community__image--tablet {
    display: none;
  }

  .hero__image--desktop, .features__image--desktop, .community__image--desktop {
    display: block;
    border-radius: 5px;
    margin-bottom: 64px;
  }

  .features__image--desktop, .community__image--desktop {
    border-radius: 24px;
    position: relative;
  }

  .hero {
    display: flex;
    padding: 32px 135px 0 135px;
    background-image: 
      url(../assets/images/pattern-glow.svg);  
    background-position: 
      right -500px bottom -600px;
    background-repeat: 
      no-repeat;
    background-size: 
      auto,
  }

  .hero__image--desktop {
    margin-top: 116px;
    width: 540px;
    height: 606px;
  }

  .hero__logo {
    margin-bottom: 80px;
  }

  .hero__title {
    margin-top: 40px;
  }

  .hero__text {
    padding-right: 64px;
  }

  .features {
    display: flex;
    flex-direction: row-reverse;
    padding: 120px 135px 120px 135px;
    margin: 0 auto;
  }

  .features__content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    justify-content: center;
  }

  .features__title {
    font-size: 50px;
    width: 100%;
  }

  .features__list {
    margin: 0;
  }

  .features__image-wrapper {
    width: 100%;
    max-width: 560px;
  }

  .features__image {
    margin: 0;
  }

  .community {
    display: flex;
    flex-direction: row;
    padding: 0px 135px 120px 135px;
    margin-top: 0;
  }

  .community__content {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    justify-content: center;
    width: 100%;
  }

  .community__title {
    font-size: 50px;
    width: 100%;
  }

  .community__text {
    margin: 0;
  }

  .community__image-wrapper {
    width: 100%;
    max-width: 560px;
  }

  .community__image-wrapper::after {
    bottom: 30px;
    right: 0px;
    left: -70px;

  }

  .community__image {
    margin: 0;
  }

  .journey {
    margin: 0 auto;
    width: 100%;
    padding: 0 135px 120px 135px;
  }

  .journey__content {
    margin: 0 auto;
    padding: 80px 64px;
    justify-content: center;
  }

  .journey__title {
    font-size: 50px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 64px 0;
  }

  .journey__list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .journey__item {
    position: relative;
  }

  .journey__item::before {
    background-image: url(../assets/images/pattern-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    bottom: 75px;
    right: 25px;
    width: 80px;
    height: 30px;
  }

  .journey__item:last-child::before {
    display: none;
  }

  .membership {
    padding: 0 270px 120px 270px;
    margin: 0;
  }

  .membership__title {
    text-align: center;
  }

  .membership__options {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 64px;
    justify-content: center;
  }

  .membership__option {
    flex: 0 0 300px;
    max-width: 300px;
  }

  .membership__option--highlighted {
    flex: 0 0 340px;
    transform: translateY(-24px);
    max-width: none;
  }

  .membership__option:last-child {
    margin: 0px;
  }

  .testimonial {
    padding: 0 270px 120px 270px;
  }

  .testimonial__rating-list {
    justify-content: center;
  }

  .testimonial__quote {
    text-align: center;
  }

  .testimonial__author {
    text-align: center;
  }

  .footer {
    padding: 64px 135px 32px 135px;
  }

  .footer__heading {
    width: 70%;
  }
}