@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

:root {
  --color-neutral-900: hsl(194, 78%, 11%);
  --color-neutral-700: hsl(195, 23%, 28%);
  --color-neutral-200: hsl(17, 12%, 89%);
  --color-neutral-100: hsl(17, 41%, 97%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-light-salmon-500: hsl(22, 99%, 72%);
  --color-light-salmon-100: hsl(22, 100%, 91%);
  --color-light-salmon-50: hsl(23, 100%, 97%);

  --text-gradient: linear-gradient(
    107deg,
    #FF9A60 -11.37%,
    #062630 61.84%
  );

  --color-gradient: linear-gradient(
    90deg,
    #FFE2D1 0%,
    #FFF5EF 100%
  );

  --font-family: 'Martian Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}